* {
  margin: 0;
  padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}
  header {
    background: lightpink;
    grid-column: 1 / 4;
    padding: 2rem;
  }
  
  nav {
    background: lightblue;
    grid-column: 1 / 4;
  }
  
  main {
    background: coral;
    grid-column: 2 / 3;
  }
  
  aside {
    background: yellow;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }

  h1 {text-align: center;}
  h2 {font-size: 1.1rem; text-align: center;
  color: navy; padding: .5rem 1rem 0;}
  
  nav {
    margin: 0 auto 2rem;
    max-width: 90vw;
  }
  
       
  .navigation{
    list-style: none;
    display: flex;
    background-color: #333;
    align-items: center;
  }
  .navagation {
    flex: 1 1 auto; /* difference between auto and 100% flex-basis - turn on link borders to view */
  }
  .navagation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
  /* 	border: 1px dotted cyan; */
  }
  .navagation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
  }
  
  .wrap {
      flex-wrap: wrap;
  }
  
  p {
    text-align: center;
    font-size: smaller;
  }
  